body {
    margin: 0 auto;
    padding: 10%;
}

fieldset {
    margin: 0 auto;
    width: 200px;
    border: 1px solid #FF0000;
}

legend {
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000000;
}

ol {
    list-style-type: upper-roman;
}

li {
    color: #FF4500;
    padding: 0 15% 5% 0;
    float: left;
}
