body {
    margin: 0 auto;
    padding: 0;
    width: 550px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuan Micro Hei", sans-serif;
}

legend {
    padding: 10% 15% 4% 15%;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 50px;
    /*text-shadow: 5px 5px 4px #8B0000;*/
    text-shadow: 0 0 5px #fefcc9, 3px -3px 5px #feec85, -5px -5px 10px #ffae34, 5px -10px 13px #ec760c, -5px -15px 15px #cd4606, 0 -20px 18px #973716, 3px -23px 20px #451b0e;
}

.talk {
    width: 500px;
    height: 30px;
    margin: 10px 15px 10px 15px;
    padding: 10px;
    border: 1px solid #555;
    background-color: #FAFAFA;
}
.talk input {
    margin: 0 10px 0 10px;
    padding: 5px;
    width: 400px;
}
strong {
    margin: 20px 10px 0 15px;
    width: 400px;
}
