@font-face {
    font-family: 'xk';
	src: url("./fonts/xk.eot");/*IE*/
    src: url("./fonts/xk.woff") format('woff')
         url('./fonts/xk.ttf') format('truetype');
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


.nocontent {
    text-align: center;
	margin: 200px auto 0;
	font-family: "xk", Courier;
	font-size: 200px; text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

li a {
    color: #CDBE70;
    background: #696969;
    font-size: 1em;
    font-weight: bold;
    opacity: .5;
	text-decoration: none;
	outline: none;
    /*border: 14px solid #444;*/
}

li a:hover,  a:focus {
	color: #828282;
    background: #363636;
    opacity: 1;
}


/**********************Effect**********************/

.grid-wrap {
	margin: 0 auto;
    max-width: 92%;
	padding: 0;
}

.grid {
	margin: 30px auto;
	padding: 0;
	list-style: none;
	min-height: 500px;
}

.grid li {
	display: inline-block;
	overflow: hidden;
	width: 314px;
	text-align: left;
	vertical-align: top;
}

/* Anchor and summary */

#summary {
    padding: .8em 1em .8em 1em;
    line-height: 1.4em;
}

.grid li > a,
.grid li #summary {
	display: block;
	outline: none;
	border: none;
}

.grid li > a {
	position: relative;
	overflow: hidden;
	margin: 7px;
}

/* Curtain element */
.grid .curtain {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #96cdc8;
}

/* Shadow */
.grid .curtain::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	content: '';
}

/* Title */
.grid li h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 15px;
	width: 100%;
	background: #2E3444;
	color: #D3EEE2;
	text-align: right;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1.3em;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

/* Pseudo element for hover effect */
.grid li > a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.5%;
	height: 100.5%;
	border: 0px solid transparent;
	background: rgba(0,0,0,0);
	content: '';
	-webkit-transition: border-width 0.2s, border-color 0.2s;
	transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

.grid li:hover > a::before {
	border-width: 14px;
	border-color: #2E3444;
}
