{% extends 'base.html' %}

{% block head_link %}
		<link rel="stylesheet" type="text/css" href="../static/css/list.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/tag.css" />
{% endblock head_link %}

{% block content %}
<div class="list">
<div class="tagcloud">
        <div id="tag_holder">
			<a href="/index/" class="tag">首页</a>
		    <a href="/coding/" class="tag">编程</a>
			<a href="/wiki/" class="tag">仓库</a>
		    <a href="/bushit/" class="tag">扯淡</a>
            <a href="/about/" class="tag">关于</a>
            {% if tags %}
            {% for tag in tags %}
		    <a href="/{{ tag }}/" class="tag">{{ tag }}</a>
            {% endfor %}
            {% endif%}
        </div>
    </div>
    <span class="clearfix"></span>
    <span class="split"></span>
	<div class="grid-wrap">
		<ul class="grid">
            {% if articles %}
            {% for article in articles %}
                <li><a href="/{{ article.category }}/{{ article.created_at }}">
                    <div id="summary">{{ article.content|summary_filter }}</div>
                    <h3>{{ article.title }}</h3>
                </a></li>
            {% endfor %}
            {% else %}
                <div class="nocontent">Nothing</div>
            {% endif %}
		</ul>
	</div>
</div>
{% endblock content %}
