<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>首页</title>
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <fieldset>
        <legend>静态文件【pass】</legend>
            <ol>
            {% for l in info_list %}
                <li>{{ l }}</li>
            {% endfor %}
            </ol>
        <img src="../static/images/google.png">
        </fieldset>
    </body>
</html>
